.root {
    -fx-background-color: #fff;
    -fx-padding: 10;
}

/* Boxes */
.box-section {
    -fx-background-color: #fafafa;
    -fx-border-color: #f1f1f1;
    -fx-padding: 10;
}

/* Labels */

.title {
    -fx-text-fill: #b8ce52;
    -fx-font-size: 20px;
    -fx-font-family: "Open Sans";
    -fx-alignment: bottom-left;
}

/* TextField */

.text-field {
    -fx-pref-height: 30px;
    -fx-background-color: #fff;
    -fx-border-color: #eaeaea;
    -fx-text-fill: #7a7a7a;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-highlight-fill: #ebebcc;
    -fx-highlight-text-fill: #000000;
}

.text-field:focused {
    -fx-border-color: #7acff5;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

/* TextArea */

.text-area {
    -fx-background-color: #fff;
    -fx-text-fill: #7a7a7a;
    -fx-cursor: default;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-font-size: 13px;
    -fx-highlight-fill: #ebebcc;
    -fx-highlight-text-fill: #000000;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.text-area .content {
    -fx-background-color: #fff;
    -fx-border-color: transparent;
}

.text-area:focused .scroll-pane {
    -fx-background-color: #fff;
    -fx-border-color: #7acff5;
}

.text-area > *.scroll-pane {
    -fx-background-color: #fff;
    -fx-border-color: #eaeaea;
    -fx-border-radius: 4;
}

.text-area > *.scroll-pane > *.scroll-bar:vertical {
    -fx-background-color: #fff;
    -fx-background-insets: 5;
    -fx-padding: 0;
    -fx-pref-width: 10;
}

.text-area > *.scroll-pane > *.scroll-bar:vertical > *.thumb {
    -fx-background-color: #cecece;
    -fx-cursor: hand;
    -fx-border-radius: 0;
    -fx-background-radius: 2;
}

.text-area > *.scroll-pane > *.scroll-bar > *.decrement-button > *.decrement-arrow,
.text-area > *.scroll-pane > *.scroll-bar > *.increment-button > *.increment-arrow {
    -fx-background-color: transparent;
}

/* Button */

.button {
    -fx-pref-height: 30px;
    -fx-background-color: #7cce88;
    -fx-border-color: #71c47d;
    -fx-border-radius: 4;
    -fx-text-fill: #fff;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-cursor: hand;
}

.button-left {
    -fx-border-radius: 4 0 0 4;
}

.button-center {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: #71c47d transparent;
}

.button-right {
    -fx-border-radius: 0 4 4 0;
}

.button:hover,
.button-left:hover,
.button-center:hover,
.button-right:hover {
    -fx-background-color: #fff;
    -fx-border-color: #68b374;
    -fx-text-fill: #333;
    -fx-background-insets: 0;
}

.button:selected,
.button-left:selected,
.button-center:selected,
.button-right:selected {
    -fx-background-color: #fff;
    -fx-border-color: #68b374;
    -fx-text-fill: #333;
    -fx-background-insets: 0;
}

/* TableView */

.table-view > *.virtual-flow > *.scroll-bar:vertical {
    -fx-background-insets: 0px, 0px 0px 0px 1px;
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.table-view > *.virtual-flow > *.scroll-bar:horizontal {
    -fx-background-insets: 0px, 0px 0px 0px 1px;
    -fx-padding: 0px;
}

.table-view {
    -fx-background-color: #e8e8e8, -fx-control-inner-background;
    -fx-background-insets: 0px, 1px;
    -fx-padding: 1px;
}

.table-view .table-column {
    -fx-alignment: center;
}

.table-view *.column-header-background {
    -fx-background-color: #f4f4f4;
    -fx-background-insets: 0px, 1px;
    -fx-border-color: #ddd;
    -fx-border-width: 0 1 2 1;
}

.table-view *.column-header {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #ccc;
    -fx-border-width: 0 1 0 0;
    -fx-background-insets: 0 1 0 0;
    -fx-border-insets: 8 0;
    -fx-padding: 1em 0em 1em 0em;
    -fx-pref-height: 32;
    -fx-cursor: hand;
}

.table-view *.column-header *.label {
    -fx-font-size: 12px;
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-text-fill: #555;
    -fx-font-weight: bold;
}

.table-view *.filler {
    -fx-background-color: #ddd, #f4f4f4, #f4f4f4;
    -fx-padding: 0.166667em;
    -fx-background-insets: 0px, 0px 0px 0px 0px, 0px 1px 0px 1px;
}

.table-view > *.column-header-background > *.show-hide-columns-button {
    -fx-background-color: transparent, #f4f4f4, #f4f4f4;
    -fx-padding: 0.166667em;
    -fx-background-insets: 0px, 0px 0px 0px 1px, 1px 33px 0px 0px;
}

.table-view *.show-hide-column-image {
    -fx-background-color: #555;
    -fx-padding: 0.25em;
}

.table-view *.column-drag-header {
    -fx-background-color: #96c440;
    -fx-border-color: #96c440;
    -fx-opacity: 0.6px;
}

.table-cell .button {
    -fx-background-color: whitesmoke;
    -fx-border-color: grey;
}

.table-cell .button:hover {
    -fx-background-color: #e6e6e6;
    -fx-border-color: grey;
}

.table-cell:even {
    -fx-background-color: null;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-cell-size: 2em;
    -fx-pref-height: 25px;
    -fx-text-fill: #6a6a6a;
}

.table-row-cell:even {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: #f7f7f7, #fff;
    -fx-background-insets: 0px, 0px 0px 1px 0px;
    -fx-padding: 0px;
}

.table-row-cell:even:selected {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: #d7e3a8 transparent, #ebf4c7;
    -fx-background-insets: 0px, 1px 0px 1px 0px;
}

.table-cell:odd {
    -fx-background-color: null;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-text-fill: #6a6a6a;
    -fx-cell-size: 2em;
    -fx-pref-height: 25px;
}

.table-row-cell:odd {
    -fx-background-color: #f7f7f7, #fff;
    -fx-background: -fx-control-inner-background;
    -fx-background-insets: 0px, 0px 0px 1px 0px;
    -fx-padding: 0px;
}

.table-row-cell:odd:selected {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: #d7e3a8 transparent, #ebf4c7;
    -fx-background-insets: 0px, 1px 0px 1px 0px;
    -fx-text-fill: black;
}

.table-view > *.virtual-flow > *.corner {
    -fx-background-color: #fff;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled > .check-box-table-cell:selected > .check-box > .box,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .check-box-table-cell > .check-box > .box {
    -fx-background-color: derive(-fx-accent, 40%), -fx-background;
}

.table-view > *.virtual-flow > *.scroll-bar:horizontal {
    -fx-background-color: #fff;
    -fx-background-insets: 5 0;
    -fx-padding: 2;
    -fx-pref-height: 15;
}

.table-view > *.virtual-flow > *.scroll-bar:vertical {
    -fx-background-color: #fff;
    -fx-background-insets: 0 5;
    -fx-padding: 2;
    -fx-pref-width: 15;
}

.table-view > *.virtual-flow > *.scroll-bar > *.decrement-button > *.decrement-arrow,
.table-view > *.virtual-flow > *.scroll-bar > *.increment-button > *.increment-arrow {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.table-view > *.virtual-flow > *.scroll-bar:vertical > *.thumb,
.table-view > *.virtual-flow > *.scroll-bar:horizontal > *.thumb {
    -fx-background-color: #cecece;
    -fx-cursor: hand;
    -fx-border-radius: 0;
    -fx-background-radius: 2;
    -fx-pref-height: 10;
}

.table-view *.column-overlay {
    -fx-background-color: darkgray;
    -fx-opacity: 0.3px;
}

/* ListView */

.list-view {
    -fx-background-color: #eaeaea, -fx-control-inner-background;
    -fx-background-insets: 0px, 1px;
    -fx-padding: 1px;
}

.list-view > *.virtual-flow > *.scroll-bar:vertical {
    -fx-background-insets: 0px, 0px 0px 0px 1px;
    -fx-padding: 0px 0px 0px 0px;
    -fx-background-color: #fff;
}

.list-view > *.virtual-flow > *.corner {
    -fx-background-color: #fff;
}

.list-view .button {
    -fx-background-color: whitesmoke;
    -fx-border-color: grey;
}

.list-view .button:hover {
    -fx-background-color: #e6e6e6;
    -fx-border-color: grey;
}