.root {
    -fx-background-color: #fff;
}

.background {
    -fx-background-color: #787878;
    -fx-background-size: 100% 100%;
    -fx-background-position: top;
    -fx-background-repeat: no-repeat;
}

.box-login {
    -fx-padding: 50 10 10 10;
    -fx-spacing: 15;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: #d8d8d8;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.69), 5, 0.1, 2, 2);
    -fx-font-size: 14;
}

.logo {
    -fx-image: url("../images/logo.png");
}

.login-top-bar {
    -fx-image: url("../images/login_bar_black.png");
}

.login-txt {
    -fx-text-fill: #d8d8d8;
    -fx-font-size: 16px;
    -fx-text-alignment: center;
}

.email,
.password {
    -fx-background-color: transparent;
    -fx-border-color: #e8e8e8;
    -fx-border-width: 0 0 1 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-padding: 0 5 0 30;
    -fx-text-fill: #6d6d6d;
    -fx-prompt-text-fill: #797979;
    -fx-highlight-fill: #dee3c0;
    -fx-highlight-text-fill: #333;
}

.email:focused,
.password:focused {
    -fx-prompt-text-fill: transparent;
}

.email {
    -fx-background-image: url("../icons/user_black.png");
}

.password {
    -fx-background-image: url("../icons/key_black.png");
}

.btn-login {
    -fx-text-fill: #fff;
    -fx-background-color: #cbde70;
    -fx-border-color: #bed452;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-graphic: url("../icons/login_white.png");
    -fx-content-display: right;
    -fx-cursor: hand;
}

.btn-login:hover,
.btn-login:selected {
    -fx-background-color: #d0e278;
}

.error {
    -fx-text-fill: #ff4f4f;
    -fx-font-size: 13px;
}