.root {
    -fx-background-color: #fff;
}

.box-signup {
    -fx-min-width: 300;
    -fx-min-height: 130;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 15;
    -fx-alignment: center;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-font-size: 14;
}

.signup-txt {
    -fx-text-fill: #d8d8d8;
    -fx-font-size: 16px;
    -fx-text-alignment: center;
}

.email,
.password,
.first-name,
.last-name {
    -fx-background-color: transparent;
    -fx-border-color: #e8e8e8;
    -fx-border-width: 0 0 1 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-padding: 0 5 0 10;
    -fx-text-fill: #6d6d6d;
    -fx-prompt-text-fill: #797979;
    -fx-highlight-fill: #dee3c0;
    -fx-highlight-text-fill: #333;
}

.email:focused,
.password:focused,
.first-name:focused,
.last-name:focused {
    -fx-prompt-text-fill: transparent;
}

.email-icon,
.password-icon,
.first-name-icon,
.last-name-icon {
    -glyph-size: 13px;
}

.email-icon {
    -glyph-name: ENVELOPE;
}

.password-icon {
    -glyph-name: KEY;
}

.first-name-icon {
    -glyph-name: USER;
}

.last-name-icon {
    -glyph-name: USER;
}

.btn-signup {
    -fx-text-fill: #fff;
    -fx-background-color: #cbde70;
    -fx-border-color: #bed452;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-content-display: right;
    -fx-cursor: hand;
}

.btn-login:hover,
.btn-login:selected {
    -fx-background-color: #d0e278;
}

.error {
    -fx-text-fill: #ff4f4f;
    -fx-font-size: 13px;
}